<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>


<body>
	<% if (logueado) { %>
			<%- include('partials/headerNoLogeado') %>
	 
	<% } else { %>
			<%- include('partials/headerNoLogeado') %>

	<% } %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="GET" class="col-12">
				<div class="form-group">
					<label for="name">Nombre:</label>
					<input type="text" id="name" name="name" required class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" required class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Contraseña:</label>
					<input type="password" id="password" name="password" required class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">Registrarse</button>
			</form>
		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>

	<!-- /footer -->
</body>

</html>