<footer class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Sobre SOREL</h2>
          <p>Somos una tienda online dedicada a ofrecer productos de calidad con una experiencia simple y rápida.</p>
        </article>
      </div>

      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Contacto</h2>
          <p>Email: contacto@sorel.com</p>
          <p>Tel: +54 11 1234-5678</p>
        </article>
      </div>

      <div class="col-12 col-lg-4">
        <article class="footer-data">
          <h2>Seguinos</h2>
          <div class="social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </article>
      </div>

    </div>

    <div class="footer-bottom">
      <p>© 2026 SOREL - Todos los derechos reservados</p>
    </div>
  </div>
</footer>